hr {
  border: none;
  border-top: 1px solid var(--color-gray);
  overflow: visible;
  text-align: center;
  color: rgb(122, 122, 122);
  height: 5px;
  margin: 1rem 0;
}

hr:after {
  background: white;
  border-radius: 3px;
  border: 1px solid var(--color-borders);
  content: attr(title);
  padding: 0 8px;
  position: relative;
  top: -10px;
}
