body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

#root,
.fill {
  width: 100%;
  height: 100%;
}

:root {
  --color-borders: lightgray;
  --color-gray: #e0e1e2;
  --color-primary: #2185d0;
  --color-secondary: darkseagreen;
  --color-positive: #21ba45;
  --color-negative: #db2828;
}