.container {
  /* max-width: 300px; */
  display: flex;
  justify-content: flex-end;
  
}

.textArea {
  width: 500px !important;
  resize: none !important;
}

.submitBtn {
  margin-left: 1rem !important;
  align-self: center !important;
}
