.event {
  justify-content: flex-end;
}

.content {
  max-width: 500px;
  border: 1px solid var(--color-borders);
  border-radius: 10px 10px 0 10px;
  padding: 15px !important;
}

.meta {
  display: flex !important;
}

.btn {
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
  transition: ease-in .15s;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  color: var(--color-primary) !important;
  transition: ease-in .15s;
}

.btnEdit {
  composes: btn;
}

.btnDel {
  composes: btn;
}

.btnEdit:hover {
  color: var(--color-primary) !important;
}

.btnDel:hover {
  color: var(--color-negative) !important;
}

.hidden {
  opacity: 0;
  transition: ease-in 0.5s;
}
