.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: var(--color-secondary);
}

.app-logo {
  height: 32px;
}

.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: var(--color-secondary);
  color: rgb(69, 92, 114);
}
